<html><head>

</head>
<body>
<div>
    <table width="450" border="0" cellpadding="0" style="table-layout:fixed;width:450px;">
        <tbody><tr>
            <td width="133" align="justify" valign="middle" style="width:133px;margin:0;">
                <a href="#" target="_blank" rel="noopener noreferrer" id="LPNoLP">
                    <font face="arial,sans-serif">
                        <span id="LPNoLP">
                            <font color="#1155CC">
                                <span id="LPNoLP">
                                    <img data-imagetype="External" src="{{.imgLink}}" width="140" height="110" alt="{{.orgName}}">
                                </span>
                            </font>
                        </span>
                    </font>
                </a>
            </td>
            <td width="386" align="justify" valign="middle" style="width:386px;margin:0;">

                <div style="margin-top:0;margin-bottom:0;">
                    <font face="arial,sans-serif">
                        <font face="sans-serif" size="1" color="#00AEEF">
                            <span style="font-size:13px;">
                                <b>{{.name}}</b>
                            </span>
                        </font>
                    </font>
                </div>
                <div style="margin-top:0;margin-bottom:0;">
                    <font face="arial,sans-serif">
                        <font face="sans-serif" size="1" color="#757575">
                            <span style="font-size:13px;">{{.role}} | {{.area}}</span>
                        </font>
                    </font>
                </div>
                <div style="margin-top:0;margin-bottom:0;">
                    <font face="arial,sans-serif">
                        <a href="phone:{{.phone2}}" target="_blank" rel="noopener noreferrer" id="LPNoLP">
                            <font face="Trebuchet MS,Helvetica,sans-serif">
                                <span id="LPNoLP">
                                    <font size="1" color="#1155CC">
                                        <span style="font-size:12px;" id="LPNoLP">{{.phone1}}</span>
                                    </font>
                                </span>
                            </font>
                        </a>
                    </font>
                </div>
                <div style="margin-top:0;margin-bottom:0;">
                    <font face="arial,sans-serif">
                        <a href="phone:{{.phone2}}" target="_blank" rel="noopener noreferrer" id="LPNoLP">
                            <font face="Trebuchet MS,Helvetica,sans-serif">
                                <span id="LPNoLP">
                                    <font size="1" color="#1155CC">
                                        <span style="font-size:12px;" id="LPNoLP">{{.phone2}}</span>
                                    </font>
                                </span>
                            </font>
                        </a>
                    </font>
                </div>
                <div style="margin-top:0;margin-bottom:0;">
                    <font face="arial,sans-serif">
                        <font face="Trebuchet MS,Helvetica,sans-serif" size="1" color="#4D4D4D">
                            <span style="font-size:12px;">{{.address}}</span>
                        </font>
                        <font face="Trebuchet MS,Helvetica,sans-serif">&nbsp;</font>
                        <font face="Trebuchet MS,Helvetica,sans-serif"><br>

                        </font>

                    </font>
                </div>
            </td>
        </tr>
        <tr>
            <td align="justify" valign="middle" style="margin:0;"><font face="arial,sans-serif"><br>
            </font></td>
            <td align="justify" valign="middle" style="margin:0;"><font face="arial,sans-serif"><br>
            </font></td>
        </tr>
        </tbody>
    </table>
</div>


</body></html>
